    <link rel="stylesheet" href="/css/normalMenu.css">
    <style>
      button a{
        color:white;
        text-decoration: none;
      }
      a{
        text-decoration: none;
      }
         #hding{
          color:rgb(235, 140, 16);
          font-style: italic;
          font-weight: bolder;
          align-content:center;
      }

    </style>
        <section role="img " class="background2" aria-label="Image Description">
            <div class="masthead2">

                <h1>
                        Admin Dashboard
                </h1>

            </div>
        </section>

         <br><br>
       <u> <center>
             <h2 id="hding" >Simple User</h2>
        </center></u>

        <div class="buttonGroup">
            <button class="button">
               <a href="/Admin/AllUsers"> Show All Users </a>
            </button>
            <button class="button">
               <a href="/api/deleteSimpleUser"> Delete A User </a>
            </button>
            <button class="button">
                <a href="/showAllOrders"> Show All Orders </a>
            </button>
            <button class="button">
                <a href="/searchSimpleUser"> Search A User </a>
            </button>
            <button class="button">
              <a href="/Admin/AddDish"> Add new dish </a>
          </button>
          <button class="button">
            <a href="/deleteDish"> Delete Dish</a>
        </button>
        </div>
