<link rel="stylesheet" href="/css/aboutus.css">

<section role="img " class="background2" aria-label="Image Description">
    
            <div class="masthead2">
                
                <h1>
                        All About FoodDash
                </h1>
                 
            </div>
        </section>
       
        <section class="sectionContainer">
            <div id="section">
                
                <div id="sectionText">
                   
                

                    <h4>History</h4>  
               FoodDash entered in Pakistan in the year 2006 and since then , it's been a journey full of love and mouth-watering food.FoodDash provides services all over Pakistan.Its a pure Pakistani Project.FoodDash came in the online food market with an innovative idea of  providing food to the hostellites ,office employees like fellows who usually get in trouble in finding a good restaurant for their regular food daily,so FoodDash provides an opportunity to those people who want things at their doorstep regularly without any effort.
               FoodDash is a online platform where people can order food not just like regular users who order food for the day but actually FoodDash give people the way to order food for the week and for the month also.They can even select meal deals including different kind of dishes for the day,week or a month.
               We have come up with the weekly food package and monthy food package.People who want the packages must get herself/himself registered so they can subscribe to these packages. 
                    <br> Exceptional? Yes! 
                   <div class="section">
                        <img src="/img/990.jpg" alt="">
                    </div>
      
              <br>Now you can order food for the week or the month and we will deliver the selected pattern daily,weekly or monthly without any day skipped!
                
                </div>
            </div>

        </section>              
           
            <section id="workFlow">
                <h2 class="heading"> Grow Up Your Workflow Speed. </h2>
                <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, commodi sint. <br>Ipsam molestias
                    nemovel laboriosam consequatur, perferendis<br> minima soluta? Natus necessitatibus autem suscipit!</p>
                <div class="num-container">
                    <div class="num-item"><span>27,882 <br>Customers</span></div>
                    <div class="num-item"><span>90% <br>Action Plans</span></div>
                    <div class="num-item"><span>70,592 <br>Downloads</span></div>
                </div>
            </section>
    
            <section id="intro">
                    
                <div class="intro-left">
                    <h2>We Guarantee You!</h2>
                    <p>  We are proud on using quality halal food and local ingredients from trusted suppliers.
                        The food content displayed in our site is valid,guaranteed and verified.We have employees working for the FoodDash.They prepare the food according to the safety and health measures provided by us.</p>
                
                </div>
                <div class="intro-right">
                    <img src="/img/554.jpg" alt="">
                </div>
                
            </section>
           
