<link rel="stylesheet" href="/css/faq.css">

<section>
    <h2 class = "title">FAQs</h2>
    <div class = "faq" onclick="revealAnswer(this)">
        <div class = "question">
            <h3>1) What is our speciality??</h3>
            <svg width = "15" height = "10" viewBox=" 0 0 42 25">
                <path d ="M3 3L21 21L39 3" stroke = "white" stroke-width ="7" stroke stroke-linecap="round"/>

            </svg>
        </div>
        <div class = "answer">
            <p>
                we provide weekly and monthly packages for hostels, offices and to our regular customers as well
            </p>
        </div>
    </div>
    <div class = "faq" onclick="revealAnswer(this)">
        <div class = "question">
            <h3>2) Do customers need to pay extra charges for online payment or online orders??</h3>
            <svg width = "15" height = "10" viewBox=" 0 0 42 25">
                <path d ="M3 3L21 21L39 3" stroke = "white" stroke-width ="7" stroke stroke-linecap="round"/>

            </svg>
        </div>
        <div class = "answer">
            <p>
                We are not taking any extra charges for online payment or online orders.
            </p>
        </div>
    </div>
    <div class = "faq"  onclick="revealAnswer(this)">
        <div class = "question">
            <h3>3) How can customer view history of placed orders?</h3>
            <svg width = "15" height = "10" viewBox=" 0 0 42 25">
                <path d ="M3 3L21 21L39 3" stroke = "white" stroke-width ="7" stroke stroke-linecap="round"/>

            </svg>
        </div>
        <div class = "answer">
            <p>
               If you are a registered user you can maintain order history of yours.You just have to login to your user account and click on my orders to view full orders detail and history
            </p>
        </div>
    </div>
     <div class = "faq" onclick="revealAnswer(this)">
        <div class = "question">
            <h3>4) Who will receive the payment of the orders?</h3>
            <svg width = "15" height = "10" viewBox=" 0 0 42 25">
                <path d ="M3 3L21 21L39 3" stroke = "white" stroke-width ="7" stroke stroke-linecap="round"/>

            </svg>
        </div>
        <div class = "answer">
            <p>
              Restaurant owner will get whole payment of the orders.

            </p>
        </div>
    </div>
     <div class = "faq"  onclick="revealAnswer(this)">
        <div class = "question">
            <h3>5) How to change password of customer's account?</h3>
            <svg width = "15" height = "10" viewBox=" 0 0 42 25">
                <path d ="M3 3L21 21L39 3" stroke = "white" stroke-width ="7" stroke stroke-linecap="round"/>

            </svg>
        </div>
        <div class = "answer">
            <p>
          Customer can change password of their panel by going to My profile after login to their account. After changing the password customer can login to the account using new password.
            </p>
        </div>
    </div>

    <strong><p id="further">For further queries:<br>
        1) Email:</strong> fooddash@gmail.com<br>
        <strong>2) Contact:</strong> +92-300-9999999
    </p>
</section>
<script src="/js/faq.js"></script>
