<section role="img " class="background" aria-label="Image Description">
    
    <div class="masthead">
        <h1>
          Serving you the best!
        </h1>
        <center>
                        <a href="/Home/Menu">
                <button>
                    Order Now!
                </button>
            </a>
        </center>
    </div>
</section>
    
    <center><h1 id="heading">About Us</h1></center>

    <section class="sectionContainer">
        <div id="section">
            <div id="sectionText" class="reveal">
               FoodDash entered in Pakistan in the year 2006 and since then , it's been a journey full of love and mouth-watering food.FoodDash provides services all over Pakistan.Its a pure Pakistani Project.FoodDash came in the online food market with an innovative idea of  providing food to the hostellites ,office employees like fellows who usually get in trouble in finding a good restaurant for their regular food daily,so FoodDash provides an opportunity to those people who want things at their doorstep regularly...
<a href="/Home/AboutUs"><button id="sectionButton">
    About Us!
  </button>
</a>
            </div>
            <img src="https://www.zameen.com/blog/wp-content/uploads/2019/08/image-1-2-1024x640.jpg" alt="FoodDash" width="700px" class="images">
        </div>
    </section>

    <center><h1 id="heading">Our Menu</h1></center>

    <div id="images">
        <div class="image">
            <img src="/img/fastFood.jpg" alt="">
            <div class="text">Fast Food</div>
        </div>
        <div class="image">
            <img src="/img/desiFood.jpg" alt="">
            <div class="text">Desi Food</div>
        </div>
    </div>

    <center><h1 id="heading">Our Location</h1></center>

    <section class="sectionContainer">
        <div id="section">
            <div id="sectionText" class="reveal">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum deleniti minima, aut eligendi reiciendis assumenda nostrum dicta qui pariatur, in quisquam officiis, deserunt eveniet libero sit dolorem sed similique maxime?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique repudiandae omnis perspiciatis voluptatum consectetur, laboriosam quaerat eius? Commodi reprehenderit inventore saepe velit delectus! Asperiores magnam, natus voluptas eum esse fugit!  
<a href="https://goo.gl/maps/o95Vp1fdegMVKdGRA" target="_blank">
    <button id="sectionButton">
    Google Maps
  </button>  </a>
            </div>
            <img src="/img/location.PNG" class="images" alt="location" width="1000px">
        </div>
    </section>
        
    </div>
    <center><h1 id="heading">Our Services</h1></center>

    <div id="services">
        <div class="imagesServices">
            <img src="/img/fastDelivery.png" alt="Fast Delivery" class="services reveal">
            <img src="/img/foodSafety.png" alt="Food Safety" class="services">
            <img src="/img/qualityFood.PNG" alt="Quality Food" class="services">
        </div>
    </div>
    