<link rel="stylesheet" href="/css/services.css">

<section role="img " class="background3" aria-label="Image Description">

            <div class="masthead3">

                <h1>
                        Our Services
                </h1>

            </div>
        </section>
        <section id="services">

            <!-- Services Main Container Starts from Here -->
            <div class="services-container">
                <!-- Service Item starts from here -->
                <div class="service-item">
                    <ul>
                        <li><i class="fa-solid fa-desktop"></i></li>
                    </ul>
                    <article>
                        <h2 class="service-heading"> Easy Accessibility </h2>
                        <p>Peeps can now order food of their taste anytime ,from anywhere in Pakistan using FoodDash's official website.Users can select their favourite meals and deals and get them at their doorstep in just few minutes. </p>
                    </article>
                </div>
                <div class="service-item">
                    <ul>
                        <li><i class="fa-solid fa-bag-shopping"></i></li>
                    </ul>
                    <article>
                        <h2 class="service-heading"> Fast Delivery </h2>
                        <p>FoodDash value your time.Once the order is confirmed,delivery partner arrives at the FoodDash restaurant to pick up the prepared meal and delivers it to the customer in no time.</p>
                    </article>
                </div>
                <div class="service-item">
                    <ul>
                        <li><i class="fa-solid fa-building-columns"></i></li>
                    </ul>
                    <article>
                        <h2 class="service-heading"> Effective Payment Gateways </h2>
                        <p>Once the meals are finalized, people can check out their carts and pay via online payment gateways like Jazzcash,Bank AL-Falah ,EasyPaisa or through cash on delivery.</p>
                    </article>
                </div>
                <div class="service-item">
                    <ul>
                        <li><i class="fa-solid fa-location"></i></li>
                    </ul>
                    <article>
                        <h2 class="service-heading"> Live Tracking </h2>
                        <p>FoodDash provides its users the ability to track the process right from food preparation to delivery.Live location tracking is a well-known trend in the food delivery business and FoodDash delivers the same.</p>
                    </article>
                </div>
            </div>
            </section>