
.masthead1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 55vh; /* if you don't want it to take up the full screen, reduce this number */
    overflow: hidden;
}

.background1 {
    background-size: cover !important;
    font-style: normal;
    font-weight: bold;
    color: #eee;
    font-size: 7vmin;
    letter-spacing: 0.03em;
    line-height: 1;
    text-shadow: 1px 2px 4px rgb(235, 140, 16);
    margin-bottom: 5px;
    animation: line 0.7s ease-out;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 23%, rgba(0, 0, 0, 0.816) 100%), url(../img/serv2.jpg) no-repeat center center scroll;
}

.masthead2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 55vh; /* if you don't want it to take up the full screen, reduce this number */
    overflow: hidden;
}

.background2 {
    background-size: cover !important;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 23%, rgba(0, 0, 0, 0.816) 100%), url('../img/115.jpeg') no-repeat center center scroll;
}

.masthead3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 55vh; /* if you don't want it to take up the full screen, reduce this number */
    overflow: hidden;
}

.background3 {
    margin-left: 230px;
    margin-right: 230px;
    background-size: cover !important;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 23%, rgba(0, 0, 0, 0.816) 100%), url(../img/990.jpg) no-repeat center center scroll;
    margin-bottom: 50px;
}

.masthead2 h1 {
    font-style: normal;
    font-weight: bold;
    color: #eee;
    font-size: 7vmin;
    letter-spacing: 0.03em;
    line-height: 1;
    text-shadow: 1px 2px 4px rgb(235, 140, 16);
    margin-bottom: 19px;
    animation: line 0.7s ease-out;
}

.reveal {
    position: relative;
    transform: translateX(-200%);
    opacity: 0;
    /* animation: line 0.7s ease-out; */

    transition: 1s ease-out;
}

    .reveal.active {
        transform: translateX(0);
        opacity: 1;
    }

#temporary {
    height: 100vh;
}

#images {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.image {
    position: relative;
    background-color: rgb(224, 221, 218);
}

    .image img {
        filter: brightness(45%);
        width: 47vw;
        height: 34vw;
        padding: 30px;
        background-color: white;
    }

#section {
    background-color: white;
    height: inherit;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}


#sectionText {
    padding: 40px;
    color: rgba(0, 0, 0, 0.8);
    margin: 30px;
    text-align: justify;
    margin-top: 20px;
    font-size: 2.7vmin;
    margin-bottom: 10px;
}

.section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    cursor: pointer;
    border-radius: 10px;
    filter: drop-shadow(3px 4px 5px black);
    transition: all 0.2s linear;
    margin-top: 30px;
    margin-bottom: 30px;
}

#sectionText h2 {
    font-style: normal;
    font-weight: bold;
    color: black;
    font-size: 4vmin;
    letter-spacing: 0.03em;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 19px;
    animation: line 0.7s ease-out;
    text-shadow: 1px 2px 4px rgb(235, 140, 16);
    text-align: center;
}

#sectionText h3 {
    font-style: normal;
    font-weight: bold;
    color: black;
    font-size: 4vmin;
    letter-spacing: 0.03em;
    line-height: 1;
    margin-top: 20px;
    margin-bottom: 19px;
    animation: line 0.7s ease-out;
    text-shadow: 1px 2px 4px rgb(235, 140, 16);
    text-align: left;
}


#sectionText h4 {
    font-style: normal;
    font-weight: bold;
    color: rgb(235, 140, 16);
    font-size: 5vmin;
    letter-spacing: 0.03em;
    line-height: 1;
    margin-right: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    animation: line 0.7s ease-out;
    text-align: left;
}

#intro {
    background-color: white;
    height: inherit;
    color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    display: flex;
    justify-content: space-between;
    text-align: justify;
}


.intro-left {
    width: 60%;
    line-height: 2rem;
}

    .intro-left h2 {
        font-style: normal;
        font-weight: bold;
        color: rgb(235, 140, 16);
        font-size: 5vmin;
        letter-spacing: 0.03em;
        line-height: 1;
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 60px;
        margin-bottom: 10px;
        animation: line 0.7s ease-out;
        text-align: left;
    }

    .intro-left p {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 75px;
        margin-right: 70px;
        line-height: 1.5rem;
        font-size: 3vmin;
    }


.intro-right {
    position: relative;
    width: 35%;
    margin-right: 80px;
}

    .intro-right img {
        margin-top: 30px;
        width: 100%;
        cursor: pointer;
        border-radius: 10px;
        filter: drop-shadow(3px 4px 5px black);
        transition: all 0.2s linear;
    }

        .intro-right img:hover {
            transform: translateY(-5px);
            filter: drop-shadow(5px 6px 7px black);
        }

#workFlow {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}



.para {
    margin: 1rem auto;
    color: black;
}

.num-container {
    width: 70%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.num-item {
    font-size: 1.5rem;
    line-height: 1.4rem;
    color: rgb(235, 140, 16);
}
