@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


*
{
    margin:0;
    padding: 0;
}
/* body */
body
{
    font-weight: 500;
    font-family: 'RalewayBold', sans-serif;
    background-color: rgb(240, 238, 237);
    color:rgb(235, 140, 16);
    height:100vh;
}
section
{
    min-height:100vh;
    width:80%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.title
{
    color:rgb(235, 140, 16);
    font-size: 3rem;
    margin: 2rem 0rem;
    animation: line 0.7s ease-out;
}

@keyframes line 
{
 0%   { 
 transform: translateX(-200%); 		
 }
 100% { 
 transform: translateX(0%); 
 }
}
.faq
{
max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    cursor:pointer;
}
.question
{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.question h3
{
    color:rgb(235, 140, 16);
    font-weight: 600;
    font-size: 1.5rem;
}
.answer
{
    max-height:0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}
.answer p
{
    color:rgb(220, 128, 7);
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.2rem;

}
.faq
{
    width:100%;
    max-height: 300px;
    animation: fade 1s ease-in-out;
}
.faq.active svg{
    transform: rotate(180deg);
}

.answer.active
{
    max-height: inherit;
}
svg
{
    position: relative;
    right:0;
    transition: transform 0.5s ease-in;
}
@keyframes fade {
    from {
        opacity : 0;
        transform:translate(-10px);
    }
    to{
        opacity: 1;
        transform:translate(0px);
    }
}
/* nav */
nav
{
    top:0;
    position:sticky;
    z-index:100;
    width:100%;
    background-color: white;;
}

nav ul
{
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    margin-right:50px;

}

nav ul h1
{
    font-weight:900;
    font-style: italic;
    font-size:30px;
    margin-left:30px;
    color: rgb(235, 140, 16);
}

.noscroll
{
    color:white;
    text-decoration: none;
}

#header-items
{
    display:flex;
    align-items: center;
    height:5rem;
}

.header-item
{
    margin-left:19px;
    list-style-type: none;
    font-size:1.7vw;
}

.header-item a
{
    color: rgb(235, 140, 16);
    text-decoration: none;
}
/* underline animation */
.underline a {
    position: relative;
  }

  .underline a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: rgb(235, 140, 16);
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }

  .underline a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

#heading
{
    margin :30px;
}

/* footer
{
    background-color: rgb(235, 140, 16);
    height:150px;
    margin:0;
    bottom:0;
    width:100%;
} */

.container{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    margin-top:20px;
    background-color: #24262b;
    padding: 40px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }

  .links
{
    margin-left:3px;
}
.social-links a
{
    background-color: transparent !important;
    margin:0 2px 10px 0 !important;
}
  .row ul
  {
    padding-left:0;
  }

  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }


.reveal
{
    position:relative;
    transform: translateX(-200%);
    opacity:0;
    /* animation: line 0.7s ease-out; */

    transition:1s ease-out;
}

.reveal.active
{
    transform: translateX(0);
    opacity:1;
}



#further
{
    margin-top:40px;
    margin-bottom: 20px;
    font-size:1.5rem;
}